{% extends 'base.html' %}

{% block content %}
<h2>Welcome to your our marketplace</h2>
<p>Earn money by consuming Beta and Charlie transactions below. Each time you consume one of them, the system will spawn two new transactions on your behalf, one Beta and one Charlie of the same value.</p>

<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.type.image_available }}')"></div>

                <h3>{{ product.type.base.name | title}}_{{product.created_by | title}}</h3>
                <p class="product-description">Spawned on: {{ product.created_at }}</p>
                <p>${{ product.type.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">

                        <span class="input-group-btn">
                        {% if product.cart_presence %}
                            <button class="btn btn-success" type="button" disabled>Added to Cart</button>
                        {% else %}
                            <button class="btn btn-success" type="submit">Consume</button>
                        {% endif %}
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}