{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}

 <!-- Image Section - set the background image for the header in the line below -->
 <section class="py-5 bg-image-full" style="background-image: url('https://images.justwatch.com/backdrop/10900695/s1440/the-emoji-movie');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 700px;"></div>
</section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Welcome to our our online marketplace</h1>
      <p class="lead">The internets first eCommerce platform dedicated to selling absolutely nothing.</p>
      <p>We know it sounds crazy but it's true. We've eliminated all of the usual hassles of owning and operating an online store by reducing the sales process done to  </p>
    </div>
  </section>

<h3>How to make money as a seller on our site</h3>
<p></p>
<br>
<img src="{% static 'images/Hi-I-am-Alpha.png' %}">


<p>If you wish to earn income through the site you need to initiate your Alpha, You can do so by clicking the Initiate Alpha button below. This will send you to the checkout form where you'll need to complete the transaction by depositing $1 into the system Alpha Bank. This will pay for you lifetime membership and spawn your first Beta and Alpha friends.</p>
<br>
<img src="{% static 'images/and-I-am-Beta.png' %}">
<p>If you wish to earn income through the site you need to initiate your Alpha, You can do so by clicking the Initiate Alpha button below. This will send you to the checkout form where you'll need to complete the transaction by depositing $1 into the system Alpha Bank. This will pay for you lifetime membership and spawn your first Beta and Alpha friends.</p>
<br>
<img src="{% static 'images/and-I-am-Charlie.png' %}">

<br>
<br>
<button type="submit" class="btn btn-primary">Initiate Alpha</button>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Section Heading</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 383px;"><img src="{% static 'images/Hi-I-am-Alpha.png' %}"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Section Heading</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>

{% endblock %}