{% extends 'base.html' %}
{% block content %}
<h3>Welcome to the Alpha Beta Charlie Society</h3>

<p>If you wish to earn income through the site you need to initiate your Alpha's. To do so you must go to your<a href="{% url 'profile' %}">profile</a> page.</p>
<p>You earn money on this site by consuming other users Beta and Charlie transactions. Each time you consume someone elses Beta or Charlie transaction the system rewards you with a new set of Beta and Ca=harlie transactions that you can sell in the marketplace.</p>
<p>If you are not seeing any income from the site it is because you have run out of inventory. To get new inventory you must consume Beta and Charlie transactions on the <a href="{% url 'profile' %}">products</a> page.</p> </p>
<br>

{# <button type="submit" class="btn btn-primary"></a>Initiate Alpha</button> #}

{% endblock %}
